.SignIn {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px;
  box-sizing: border-box;
  background-image: url('../../assets/images/svg/illustration-girl.svg');
  background-position: center;
  background-size: 80% auto;
  background-repeat: no-repeat;

  &__title-wrapper {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;

    .title {
      padding: 0px 10px;
    }
  }

  &__form--wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    .SignIn__form {
      display: flex;
      flex-direction: row;
      flex: 1;
      align-self: center;
      justify-content: center;

      .Input, .Button {
        margin: 10px;
      }

      .Input {
        background: rgba(255, 255, 255, 0.85);
      }

      .Button {
        border-color: #e1e1e1;
      }
    }
  }
}
