@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  transition: all 0.3s linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#root {
  height: 100%;
}
